@import 'variables';

.operation-product {
  display: flex;
  align-items: center;
  cursor: pointer;

  .info {
    flex-grow: 1;
  }

  &:hover {
    background: $primary;
    color: $light;
    border-color: $light;

    :global(.text-secondary) {
      color: $gray-500 !important;
    }
  }
}
