@import 'variables';

.operations {
  display: flex;
  flex-direction: column;

  .table-wrapper {
    flex-grow: 1;
    overflow-y: auto;
  }

  .buttons-wrapper {
    padding-top: $spacer;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
  }
}
