{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "forceAllTransforms": true,
      "useBuiltIns": "entry"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["ramda", {
      "useEs": true
    }],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
