{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    ["ramda", {
      "useEs": true
    }]
  ]
}
