{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": true,
      "modules": false
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    ["ramda", {
      "useEs": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "latest",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread"
      ],
    }
  }
}
